/* regras de formatação (CSS) */



h1 {

    /* exercicio
    criar uma nova regra CSS para estilizar o elemento h1 com as seguintes caracteristicas: 
    
    -fonte: impact, verdana, arial e sans-serif
    -cor de fundo: escura com um pouco de transparencia
    -cor do texto: claro
    -espaçamento: interno APENAS para cima e para baixo
    -letras maiusculas
    -texto alinhado no meio
    -bordas arredondadas apenas nos cantos superiores
    -sombra no texto*/


    font-family: 'Impact', 'Verdana', 'Arial', sans-serif;
    /* Define a fonte */
    background-color: rgba(0, 0, 0, 0.8);
    /* Cor de fundo escura com transparência */
    color: white;
    padding-top: 15px;
    /* Espaçamento interno para cima */
    padding-bottom: 15px;
    /* Espaçamento interno para baixo */
    text-transform: uppercase;
    /* Letras maiúsculas */
    text-align: center;
    /* Texto alinhado no meio */

    /* versão abreviada da borda */
    /* border-radius: 10px 10px 0 0; */

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Bordas arredondadas apenas nos cantos superiores */
    text-shadow: 2px 2px 5px orange;
    /* define a sombra do titulo */

    /* espaçamento entre as letras */
    letter-spacing: 3px;
    /* tirar o "negrito" */
    font-weight: normal;

    /* propriedades com prefixo -webkit, -moz, -o-
    propriedades relacionada a alguns navegadores. */
    -webkit-text-stroke: 1px blueviolet;
}

h2 {

    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: black;
    /* margin-left: 30px; */
    padding-left: 5px;


}




body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;

    /*repetir imagem  background: repeat-x; */
    background-image: url(../imagens/back\ ground\ polygon.jpg);
    background-attachment: fixed;
    background-size: cover;
}

div {

    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 1%;

    /* padding = espaçamento interno */

    padding: 1%;

    /* sombra em X,Y e para os primeiros valores o terceiro é a intensidade/suavização */

    box-shadow: royalblue 10px -10px 50px,
        pink 35px 50px 100px;
}

p {
    color: black;


}

img {
    /* max-width faz ajustar a imagem de acordo com a tela */

    max-width: 100%;
    border-radius: 50%;
}

figure {
    /* qualquer coisa dentro do figure pode ser alinhada ou deslocada em qualquer posição */
    text-align: center;

}

/* seletor descendente (consegue ser mais especifico "contexto") */

nav a {

    text-decoration: none;


}

figure img {


    transition: 0.5s;
    transform: scale(0.9);
    filter: grayscale(100%);
}

/* hover (passar o mouse) */
figure img:hover {
    transform: scale(1) rotateY(360deg);
    filter: grayscale(0);


}